.vortex-card {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #334155;
  transition: 0.3s;
  
  
}

.vortex-card:hover {
  transform: translateY(-5px);
  border-color: #7c3aed;
}

.card-img { width: 100%; height: 140px; object-fit: cover; }

.card-info { 
  position: relative;
  padding: 15px;
   justify-items: center; 
   align-content: center;
   margin-top: 20px;
  
}



